html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
}

header {
    height: 80px;
    background-color: #cd0000;
    margin: auto;
}

header h1 {
    margin: 0;
    margin-left: 4vw;
    line-height: 80px;
    float: left;
    font-family: serif;
    font-size: 50px;
    color: #ffd700;
}

header strong {
    color: #ffff00;/*奇行の奇を強調*/
}

section {
    height: 500%;/*画面５枚分*/
    padding: 80px;
    padding-top: 20px;
    padding-left: 4vw;
    padding-right: 4vw;
}

section h2 {
    font-family: serif;
    font-size: 60px;
}

section img {
    width: 70vw;
}

section p {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 22px;
}

footer {
    height: 35px;
    background-color: #cd0000;
}

footer p {
    margin: 0;
    line-height: 35px;
    font-size: 20px;
    color: #ffd700;
}
