html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: green;
    color: white;
}

header {
    width: 100%;
    height: 80px;
    background-color: #cd0000;
    margin: auto;
}

header h1 {
    margin: 0;
    margin-left: 4vw;
    line-height: 80px;
    float: left;
    font-family: serif;
    font-size: 50px;
    color: #ffd700;
}

header strong {
    color: #ffff00;
}

h1 .hover{
    display: none;
}
  
h1:hover .nomal{
    display: none;
}
  
h1:hover .hover{
    display: inline;
}

section {
    padding: 80px;
    padding-top: 20px;
    padding-left: 4vw;
    padding-right: 4vw;
}

section h2 {
    margin: 30px;
    font-family: serif;
    font-size: 50px;
}

.exp {
    width: 60vw;
    margin: 0 auto;
}

.text {
    margin-left: 4vw;
    margin-right: 4vw;
    /*width: 92vw;*/
}

.nomal_img {
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 0;
}

.large_img {
    width: 45vw;
    margin-top: 10px;
    margin-bottom: 0;
}

.large_video {
    width: 35vw;
    margin-top: 10px;
    margin-bottom: 0;
}

.nomal_text {
    margin-top: 0;
    margin-left: 0;
    font-size: 16px;
    text-align: left;
}

.exp_text {
    margin-top: 0;
    margin-left: 0;
    font-size: 17px;
    text-align: left;
}

footer {
    height: 35px;
    background-color: #cd0000;
}

footer p {
    margin: 0;
    line-height: 35px;
    font-size: 20px;
    color: #ffd700;
}
